* {
  padding: 0;
  margin: 0;
}

.user-outer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.formContainer h1 {
  font-size: 40px;
}

input,
textarea {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 16px;
}

.submitButton {
  border: none;
  outline: none;
  padding: 12px 0;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  background-color: #3bb19b;
  color: white;
  margin: 10px;
}

/* Mobile CSS */
@media only screen and (max-width: 600px) {
  input,
  textarea {
    width: 300px;
  }
}
